/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: '.AppleSystemUIFont';
  src: url('fonts/SFNS.ttf');
}

.font-AppleSystemUIFont {
  font-family: '.AppleSystemUIFont', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf');
}

.font-openSans {
  font-family: 'OpenSans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'AmericanTypewriter';
  src: url('fonts/AmericanTypewriter.ttf');
}

.font-americanTypewriter {
  font-family: 'AmericanTypewriter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

.App { /* Base font style */
  font-family: 'OpenSans', sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: 'OpenSans', sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

@media (display-mode: standalone) {
  .App {
    user-select: none;
  }
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* System font classes */

.App .systemFontRegular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
.App .systemFontBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
}
.App .systemFontItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-style: italic;
}
.App .systemFontBoldItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* App-wide text styles specified in React Studio */

.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 17.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 17.2px;
}
.App .headlineFont {
  font-family: 'OpenSans-CondensedBold', sans-serif;
  font-size: 19.4px;
  font-weight: 600;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  min-height: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.App .navBar > div {
  margin-top: 12px;
}

@media (min-width: 568px) {
  .App .navBar {
    height: 60px;
    min-height: 60px;
  }
  .App .navBar > div {
    margin-top: 12px;
  }
}
@media (min-width: 768px) {
  .App .navBar {
    height: 60px;
    min-height: 60px;
  }
  .App .navBar > div {
    margin-top: 12px;
  }
}
@media (min-width: 1024px) {
  .App .navBar {
    height: 60px;
    min-height: 60px;
  }
  .App .navBar > div {
    margin-top: 12px;
  }
}
@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

.App .marker {
  width: 0px;
  height: 0px;
}

.App .drawer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.App .drawerOpen {
  transform: translateX(0%);
  transition: 0.3s;
}

.App .drawerClosedLeft {
  transform: translateX(-100%);
  transition: 0.3s;
}

.App .drawerClosedRight {
  transform: translateX(100%);
  transition: 0.3s;
}

.App .drawerContent {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.App .drawerContent > * {
  height: 100%;
}

/* This component has a fixed-size layout */
  .Eslogan {
    width: 100%; /* This component was designed using a width of 389px */
    height: 100%;
  }


  .Eslogan > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Eslogan > .layoutFlow > .elText {
    overflow: hidden;
    position: relative;
    margin-top: -38px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Eslogan > .layoutFlow > .elText > * { 
    width: 100%;
  }
  

@keyframes fadeIn_Eslogan_elTextCopy {
  0% { opacity: 0.0; }
  29% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.Eslogan > .layoutFlow > .elTextCopy {
  animation: 1.40s fadeIn_Eslogan_elTextCopy;
}

  .Eslogan > .layoutFlow > .elTextCopy {
    overflow: hidden;
    position: relative;
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Eslogan > .layoutFlow > .elTextCopy > * { 
    width: 100%;
  }
  

/* This component has a fixed-size layout */
  .Razón {
    width: 100%; /* This component was designed using a width of 367px */
    height: 100%;
  }


  .Razón > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Razón > .background > .elAidanmeyer129855 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Razón > .layoutFlow > .elRectangle {
    position: relative;
    margin-top: 0px;
    margin-left: 13px;
    margin-right: 9px;
    width: calc(100.0% - 22px);
  }
  .Razón > .layoutFlow > .elRectangle > * { 
    width: 100%;
  height: 42px;
  }
  


  .Razón > .layoutFlow > .elText {
    position: relative;
    margin-top: -36px;
    margin-left: 4px;
    margin-right: 11px;
    width: calc(100.0% - 16px);
  }
  .Razón > .layoutFlow > .elText > * { 
    width: 100%;
  }
  

/* This component has a fixed-size layout */
  .Logo {
    min-height: 100px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 184px */
    height: 100%;
  }
  .Logo > .background > .containerMinHeight {
    min-height: 100px;
  }


  .Logo > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Logo > .foreground > .elLogowhite {
    position: absolute;
    left: 19px;
    top: 34px;
    width: 126px;
    height: calc(100% + -3.0% + -58.3px);
  }


  .Logo > .foreground > .elRectangle {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100.0%;
    height: 3px;
  }

/* This component has a fixed-size layout */
  .Servicios {
    width: 100%; /* This component was designed using a width of 262px */
    height: 100%;
  }


  .Servicios > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Servicios > .layoutFlow > .elRoundimage {
    position: relative;
    margin-top: 40px;
    width: 128px;
    margin-left: calc(50.5% - 64px);
  }
  .Servicios > .layoutFlow > .elRoundimage > * { 
  width: 128px;
  height: 128px;
  }
  


  .Servicios > .layoutFlow > .elText {
    position: relative;
    margin-top: 14px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Servicios > .layoutFlow > .elText > * { 
    width: 100%;
  }
  


  .Servicios > .layoutFlow > .elTextCopy {
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Servicios > .layoutFlow > .elTextCopy > * { 
    width: 100%;
  }
  


  .Servicios > .layoutFlow > .elSpacer {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Servicios > .layoutFlow > .elSpacer > * { 
    width: 100%;
  height: 37px;
  }
  

/* This component has a fixed-size layout */
  .Regístrate {
    min-height: 453px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 517px */
    height: 100%;
  }
  .Regístrate > .background > .containerMinHeight {
    min-height: 453px;
  }


  .Regístrate > .background > .elBG {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


.Regístrate > .foreground > .elEmailField input {
  color: #feffff;
}

.Regístrate > .foreground > .elEmailField input::input-placeholder {
  color: rgba(254, 255, 255, 0.5000);
}

.Regístrate > .foreground > .elEmailField input::placeholder {
  color: rgba(254, 255, 255, 0.5000);
}

  .Regístrate > .foreground > .elEmailField {
    position: absolute;
    left: calc(50.0% + 0px - 113px);
    top: calc(0px + 50.0%);
    width: 226px;
    height: 34px;
  }

.Regístrate .elSendButton {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.Regístrate .elSendButton:focus {
  box-shadow: 0 0 5px rgba(36, 37, 36, 0.5000);
  outline: none;
}



  .Regístrate > .foreground > .elSendButton {
    line-height: 34px;
    position: absolute;
    left: calc(50.0% + 0px - 113px);
    top: calc(22px + 55.0%);
    width: 226px;
    height: 34px;
  }


  .Regístrate > .foreground > .elHeader {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: calc(-40px + 50.0%);
    width: 100.0%;
    height: 33px;
  }

/* This component has a fixed-size layout */
  .SocialLinks {
    min-height: 211px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 379px */
    height: 100%;
  }
  .SocialLinks > .background > .containerMinHeight {
    min-height: 211px;
  }


  .SocialLinks > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .SocialLinks > .foreground > .elYouTube {
    position: absolute;
    left: calc(20.0% + 0px - 34px);
    top: 34px;
    width: 68px;
    height: 68px;
  }


  .SocialLinks > .foreground > .elInstagram {
    position: absolute;
    left: calc(40.0% + 0px - 34px);
    top: 34px;
    width: 68px;
    height: 68px;
  }


  .SocialLinks > .foreground > .elSnapchat {
    position: absolute;
    left: calc(60.0% + 0px - 34px);
    top: 34px;
    width: 68px;
    height: 68px;
  }


  .SocialLinks > .foreground > .elFacebook {
    position: absolute;
    left: calc(80.0% + 0px - 34px);
    top: 34px;
    width: 68px;
    height: 68px;
  }


  .SocialLinks > .foreground > .elCopyright {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 6px;
    width: 100.0%;
    height: 24px;
  }

.SocialLinks .elLink {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}



  .SocialLinks > .foreground > .elLink {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100.0%;
    height: 36px;
  }


  .SocialLinks > .foreground > .elCredits {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 126px;
    width: 100.0%;
    height: 24px;
  }

/* This component has a fixed-size layout */
  .Idea {
    width: 100%; /* This component was designed using a width of 330px */
    height: 100%;
  }


  .Idea > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Idea > .layoutFlow > .elText {
    position: relative;
    margin-top: 28px;
    margin-left: 22px;
    margin-right: 23px;
    width: calc(100.0% - 45px);
  }
  .Idea > .layoutFlow > .elText > * { 
    width: 100%;
  }
  


  .Idea > .layoutFlow > .elTextCopy {
    position: relative;
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 23px;
    width: calc(100.0% - 45px);
  }
  .Idea > .layoutFlow > .elTextCopy > * { 
    width: 100%;
  }
  


  .Idea > .layoutFlow > .elSpacer {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Idea > .layoutFlow > .elSpacer > * { 
    width: 100%;
  height: 23px;
  }
  

/* This component has a fixed-size layout */
  .Pksi {
    width: 100%; /* This component was designed using a width of 262px */
    height: 100%;
  }


  .Pksi > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Pksi > .layoutFlow > .elText {
    position: relative;
    margin-top: 28px;
    margin-left: 22px;
    margin-right: 23px;
    width: calc(100.0% - 45px);
  }
  .Pksi > .layoutFlow > .elText > * { 
    width: 100%;
  }
  


  .Pksi > .layoutFlow > .elTextCopy {
    position: relative;
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 23px;
    width: calc(100.0% - 45px);
  }
  .Pksi > .layoutFlow > .elTextCopy > * { 
    width: 100%;
  }
  


  .Pksi > .layoutFlow > .elSpacer {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Pksi > .layoutFlow > .elSpacer > * { 
    width: 100%;
  height: 23px;
  }
  

/* This component has a fixed-size layout */
  .NuestroEquipo {
    min-height: 87px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 186px */
    height: 100%;
  }
  .NuestroEquipo > .background > .containerMinHeight {
    min-height: 87px;
  }


  .NuestroEquipo > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .NuestroEquipo > .foreground > .elTextBlock {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 22px;
    width: 100.0%;
    height: 46px;
  }

/* This component has a fixed-size layout */
  .NuestraMisión {
    min-height: 87px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 186px */
    height: 100%;
  }
  .NuestraMisión > .background > .containerMinHeight {
    min-height: 87px;
  }


  .NuestraMisión > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .NuestraMisión > .foreground > .elTextBlock {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 22px;
    width: 100.0%;
    height: 46px;
  }

/* This component has a fixed-size layout */
  .NuestraPasión {
    min-height: 87px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 186px */
    height: 100%;
  }
  .NuestraPasión > .background > .containerMinHeight {
    min-height: 87px;
  }


  .NuestraPasión > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .NuestraPasión > .foreground > .elTextBlock {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 22px;
    width: 100.0%;
    height: 46px;
  }

/* This component has a fixed-size layout */
  .Menu {
    width: 100%; /* This component was designed using a width of 209px */
    height: 100%;
  }


  .Menu > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Menu > .layoutFlow > .elLine {
    position: relative;
    margin-top: 4px;
    margin-left: 7px;
    margin-right: 7px;
    width: calc(100.0% - 14px);
  }
  .Menu > .layoutFlow > .elLine > * { 
    width: 100%;
  height: 2px;
  }
  


  .Menu > .layoutFlow > .elText {
    position: relative;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Menu > .layoutFlow > .elText > * { 
    width: 100%;
  }
  


  .Menu > .layoutFlow > .elLineCopy4 {
    position: relative;
    margin-top: 4px;
    margin-left: 7px;
    margin-right: 7px;
    width: calc(100.0% - 14px);
  }
  .Menu > .layoutFlow > .elLineCopy4 > * { 
    width: 100%;
  height: 2px;
  }
  


  .Menu > .layoutFlow > .elTextCopy4 {
    position: relative;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Menu > .layoutFlow > .elTextCopy4 > * { 
    width: 100%;
  }
  


  .Menu > .layoutFlow > .elLineCopy {
    position: relative;
    margin-top: 4px;
    margin-left: 7px;
    margin-right: 7px;
    width: calc(100.0% - 14px);
  }
  .Menu > .layoutFlow > .elLineCopy > * { 
    width: 100%;
  height: 2px;
  }
  


  .Menu > .layoutFlow > .elTextCopy2 {
    position: relative;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Menu > .layoutFlow > .elTextCopy2 > * { 
    width: 100%;
  }
  


  .Menu > .layoutFlow > .elLineCopy2 {
    position: relative;
    margin-top: 4px;
    margin-left: 7px;
    margin-right: 7px;
    width: calc(100.0% - 14px);
  }
  .Menu > .layoutFlow > .elLineCopy2 > * { 
    width: 100%;
  height: 2px;
  }
  


  .Menu > .layoutFlow > .elTextCopy3 {
    position: relative;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Menu > .layoutFlow > .elTextCopy3 > * { 
    width: 100%;
  }
  


  .Menu > .layoutFlow > .elLineCopy5 {
    position: relative;
    margin-top: 4px;
    margin-left: 7px;
    margin-right: 7px;
    width: calc(100.0% - 14px);
  }
  .Menu > .layoutFlow > .elLineCopy5 > * { 
    width: 100%;
  height: 2px;
  }
  

.Menu .elHotspot {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}



  .Menu > .foreground > .elHotspot {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .AboutOurPassion {
    width: 100%; /* This component was designed using a width of 320px */
    height: 100%;
  }


  .AboutOurPassion > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .AboutOurPassion > .layoutFlow > .elTextCopy {
    position: relative;
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 23px;
    width: calc(100.0% - 45px);
  }
  .AboutOurPassion > .layoutFlow > .elTextCopy > * { 
    width: 100%;
  }
  


  .AboutOurPassion > .layoutFlow > .elImage {
    position: relative;
    margin-top: 8px;
    margin-left: 22px;
    margin-right: 23px;
    width: calc(100.0% - 45px);
  }
  .AboutOurPassion > .layoutFlow > .elImage > * { 
    width: 100%;
  }
  


  .AboutOurPassion > .layoutFlow > .elTextCopy2 {
    position: relative;
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 23px;
    width: calc(100.0% - 45px);
  }
  .AboutOurPassion > .layoutFlow > .elTextCopy2 > * { 
    width: 100%;
  }
  

/* This component has a fixed-size layout */
  .Map {
    width: 100%; /* This component was designed using a width of 320px */
    height: 100%;
  }


  .Map > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .Map > .layoutFlow > .elEmbed {
    position: relative;
    margin-top: 57px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .Map > .layoutFlow > .elEmbed > * { 
    width: 100%;
  }
  


  .Map > .foreground > .elText {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 16px;
    width: 100.0%;
    height: 36px;
  }


/* Narrowest size for this element's responsive layout */
  .StartScreen > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .StartScreen > .background > .elBackgroundShape {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .StartScreen > .background > .elBackgroundShape {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .StartScreen > .background > .elBackgroundShape {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.StartScreen .elSlogantop {
  overflow: hidden;
}

.StartScreen .elSlogantop.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elSlogantop {
    position: relative;
    margin-top: 93px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elSlogantop > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elSlogantop > .background > .containerMinHeight {
    min-height: 55px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elSlogantop {
    position: relative;
    margin-top: 93px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elSlogantop > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elSlogantop > .background > .containerMinHeight {
    min-height: 55px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elSlogantop {
    position: relative;
    margin-top: 92px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elSlogantop > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elSlogantop > .background > .containerMinHeight {
    min-height: 55px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elSlogantop {
    position: relative;
    margin-top: 92px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elSlogantop > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elSlogantop > .background > .containerMinHeight {
    min-height: 55px;
  }

}

.StartScreen .elJoinUs {
  overflow: hidden;
}

.StartScreen .elJoinUs.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elJoinUs {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elJoinUs > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elJoinUs > .background > .containerMinHeight {
    min-height: 32px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elJoinUs {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elJoinUs > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elJoinUs > .background > .containerMinHeight {
    min-height: 32px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elJoinUs {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elJoinUs > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elJoinUs > .background > .containerMinHeight {
    min-height: 32px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elJoinUs {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elJoinUs > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elJoinUs > .background > .containerMinHeight {
    min-height: 32px;
  }

}

.StartScreen .elTeamHeadline {
  overflow: hidden;
}

.StartScreen .elTeamHeadline.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elTeamHeadline {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elTeamHeadline > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elTeamHeadline > .background > .containerMinHeight {
    min-height: 87px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elTeamHeadline {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elTeamHeadline > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elTeamHeadline > .background > .containerMinHeight {
    min-height: 87px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elTeamHeadline {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elTeamHeadline > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elTeamHeadline > .background > .containerMinHeight {
    min-height: 86px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elTeamHeadline {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elTeamHeadline > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elTeamHeadline > .background > .containerMinHeight {
    min-height: 86px;
  }

}

.StartScreen > .layoutFlow > .elTeamPics > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 5px;
  grid-row-gap: 5px;  /* old name still required by some browsers */
  column-gap: 5px;
  grid-column-gap: 5px;  /* old name still required by some browsers */
}

.StartScreen > .layoutFlow > .elTeamPics > div > * {
  display: inline-block;
  position: relative;
  min-width: 262px;
}

  @media (min-width: 1024px) {
    .StartScreen > .layoutFlow > .elTeamPics > div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 5px;
      grid-row-gap: 5px;  /* old name still required by some browsers */
      column-gap: 5px;
      grid-column-gap: 5px;  /* old name still required by some browsers */
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .StartScreen > .layoutFlow > .elTeamPics > div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 5px;
      grid-row-gap: 5px;  /* old name still required by some browsers */
      column-gap: 5px;
      grid-column-gap: 5px;  /* old name still required by some browsers */
    }
  
  }
  
  @media (min-width: 568px) and (max-width: 767px) {
    .StartScreen > .layoutFlow > .elTeamPics > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5px;
      grid-row-gap: 5px;  /* old name still required by some browsers */
      column-gap: 5px;
      grid-column-gap: 5px;  /* old name still required by some browsers */
    }
  
  }
  
  @media (max-width: 567px) {
    .StartScreen > .layoutFlow > .elTeamPics > div {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 5px;
      grid-row-gap: 5px;  /* old name still required by some browsers */
      column-gap: 5px;
      grid-column-gap: 5px;  /* old name still required by some browsers */
    }
  
  }
  


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elTeamPics {
    position: relative;
    margin-top: 0px;
    margin-left: 9px;
    margin-right: calc(4.0% + 0px);
    width: calc(96.0% - 9px);
  }
  .StartScreen > .layoutFlow > .elTeamPics > * { 
    width: 100%;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elTeamPics {
    position: relative;
    margin-top: 0px;
    margin-left: 9px;
    margin-right: calc(4.0% + 0px);
    width: calc(96.0% - 9px);
  }
  .StartScreen > .layoutFlow > .elTeamPics > * { 
    width: 100%;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elTeamPics {
    position: relative;
    margin-top: 0px;
    margin-left: 9px;
    margin-right: calc(4.0% + 0px);
    width: calc(96.0% - 9px);
  }
  .StartScreen > .layoutFlow > .elTeamPics > * { 
    width: 100%;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elTeamPics {
    position: relative;
    margin-top: 0px;
    margin-left: 9px;
    margin-right: calc(4.0% + 0px);
    width: calc(96.0% - 9px);
  }
  .StartScreen > .layoutFlow > .elTeamPics > * { 
    width: 100%;
  }
  
}

.StartScreen .elOurMission {
  overflow: hidden;
}

.StartScreen .elOurMission.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elOurMission {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elOurMission > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elOurMission > .background > .containerMinHeight {
    min-height: 87px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elOurMission {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elOurMission > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elOurMission > .background > .containerMinHeight {
    min-height: 87px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elOurMission {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elOurMission > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elOurMission > .background > .containerMinHeight {
    min-height: 86px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elOurMission {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elOurMission > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elOurMission > .background > .containerMinHeight {
    min-height: 86px;
  }

}

  .StartScreen > .layoutFlow > .elWhatWeDo > div {
    display: flex;
    flex-direction: row;
    height: auto;  /* This element is in scroll flow */
    flex-wrap: wrap;
  }

  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col0 {
    flex: 50.0;  /* Base weight for this column */
    position: relative;
  }

@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col0 {
    flex: 50.0;  /* Column width for this screen format */
    flex-basis: 0;  /* Ignore content size so that column widths will determine size */
    margin-left: 0.0px;
    margin-top: 0.0px;
    width: 0px;
    min-height: auto;
  }

}

@media (max-width: 1023px) {
  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col0 {
    flex: 50.0;  /* Column width for this screen format */
    flex-basis: 0;  /* Ignore content size so that column widths will determine size */
    margin-left: 0.0px;
    margin-top: 0.0px;
    width: 0px;
    min-height: auto;
  }

}

@media (max-width: 767px) {
  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col0 {
    flex: 50.0;  /* Column width for this screen format */
    flex-basis: 767px;
    margin-left: 0.0px;
    margin-top: 0.0px;
    width: 0px;
    min-height: auto;
  }

}

@media (max-width: 567px) {
  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col0 {
    flex: 50.0;  /* Column width for this screen format */
    flex-basis: 567px;
    margin-left: 0.0px;
    margin-top: 0.0px;
    width: 0px;
    min-height: auto;
  }

}

  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col1 {
    flex: 50.0;  /* Base weight for this column */
    position: relative;
  }

@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col1 {
    flex: 50.0;  /* Column width for this screen format */
    flex-basis: 0;  /* Ignore content size so that column widths will determine size */
    margin-left: 0.0px;
    margin-top: 0.0px;
    width: 0px;
    min-height: auto;
  }

}

@media (max-width: 1023px) {
  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col1 {
    flex: 50.0;  /* Column width for this screen format */
    flex-basis: 0;  /* Ignore content size so that column widths will determine size */
    margin-left: 0.0px;
    margin-top: 0.0px;
    width: 0px;
    min-height: auto;
  }

}

@media (max-width: 767px) {
  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col1 {
    flex: 50.0;  /* Column width for this screen format */
    flex-basis: 767px;
    margin-left: 0.0px;
    margin-top: 0.0px;
    width: 0px;
    min-height: auto;
  }

}

@media (max-width: 567px) {
  .StartScreen > .layoutFlow > .elWhatWeDo > div > .col1 {
    flex: 50.0;  /* Column width for this screen format */
    flex-basis: 567px;
    margin-left: 0.0px;
    margin-top: 0.0px;
    width: 0px;
    min-height: auto;
  }

}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elWhatWeDo {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elWhatWeDo > * { 
    width: 100%;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elWhatWeDo {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elWhatWeDo > * { 
    width: 100%;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elWhatWeDo {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elWhatWeDo > * { 
    width: 100%;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elWhatWeDo {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elWhatWeDo > * { 
    width: 100%;
  }
  
}

.StartScreen .elOurPassion {
  overflow: hidden;
}

.StartScreen .elOurPassion.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elOurPassion {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elOurPassion > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elOurPassion > .background > .containerMinHeight {
    min-height: 87px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elOurPassion {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elOurPassion > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elOurPassion > .background > .containerMinHeight {
    min-height: 87px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elOurPassion {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elOurPassion > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elOurPassion > .background > .containerMinHeight {
    min-height: 86px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elOurPassion {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elOurPassion > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elOurPassion > .background > .containerMinHeight {
    min-height: 86px;
  }

}

.StartScreen .elAboutOurPassion {
  overflow: hidden;
}

.StartScreen .elAboutOurPassion.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elAboutOurPassion {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elAboutOurPassion > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elAboutOurPassion > .background > .containerMinHeight {
    min-height: 442px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elAboutOurPassion {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elAboutOurPassion > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elAboutOurPassion > .background > .containerMinHeight {
    min-height: 442px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elAboutOurPassion {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elAboutOurPassion > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elAboutOurPassion > .background > .containerMinHeight {
    min-height: 439px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elAboutOurPassion {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elAboutOurPassion > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elAboutOurPassion > .background > .containerMinHeight {
    min-height: 439px;
  }

}

.StartScreen .elContactUs {
  overflow: hidden;
}

.StartScreen .elContactUs.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elContactUs {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elContactUs > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elContactUs > .background > .containerMinHeight {
    min-height: 453px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elContactUs {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elContactUs > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elContactUs > .background > .containerMinHeight {
    min-height: 453px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elContactUs {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elContactUs > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elContactUs > .background > .containerMinHeight {
    min-height: 450px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elContactUs {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elContactUs > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elContactUs > .background > .containerMinHeight {
    min-height: 450px;
  }

}

.StartScreen .elMap {
  overflow: hidden;
}

.StartScreen .elMap.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elMap {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elMap > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elMap > .background > .containerMinHeight {
    min-height: 59px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elMap {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elMap > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elMap > .background > .containerMinHeight {
    min-height: 59px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elMap {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elMap > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elMap > .background > .containerMinHeight {
    min-height: 59px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elMap {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elMap > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elMap > .background > .containerMinHeight {
    min-height: 59px;
  }

}

.StartScreen .elSocial {
  overflow: hidden;
}

.StartScreen .elSocial.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elSocial {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elSocial > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elSocial > .background > .containerMinHeight {
    min-height: 211px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elSocial {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elSocial > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elSocial > .background > .containerMinHeight {
    min-height: 211px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elSocial {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elSocial > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elSocial > .background > .containerMinHeight {
    min-height: 210px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elSocial {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .StartScreen > .layoutFlow > .elSocial > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elSocial > .background > .containerMinHeight {
    min-height: 210px;
  }

}

.StartScreen .elFab {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.StartScreen .elFab:focus {
  box-shadow: 0 0 6px rgba(34, 41, 53, 0.2500);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .screenFgContainer > .foreground > .elFab {
    line-height: 68px;
    position: fixed;
    right: 7px;
    bottom: 24px;
    width: 68px;
    height: 68px;
  }
@media (min-width: 568px) {
  .StartScreen > .screenFgContainer > .foreground > .elFab {
    line-height: 68px;
    right: 7px;
    bottom: 24px;
    width: 68px;
    height: 68px;
  }
}
@media (min-width: 768px) {
  .StartScreen > .screenFgContainer > .foreground > .elFab {
    line-height: 68px;
    right: 7px;
    bottom: 24px;
    width: 68px;
    height: 68px;
  }
}
@media (min-width: 1024px) {
  .StartScreen > .screenFgContainer > .foreground > .elFab {
    line-height: 68px;
    right: 7px;
    bottom: 24px;
    width: 68px;
    height: 68px;
  }
}

.StartScreen .elMenu {
  overflow: hidden;
}

.StartScreen .elMenu.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}


@keyframes fadeIn_StartScreen_elMenu {
  0% { opacity: 0.0; }
  9% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.StartScreen > .screenFgContainer > .foreground > .elMenu {
  animation: 1.10s fadeIn_StartScreen_elMenu;
}

/* Narrowest size for this element's responsive layout */
  .StartScreen > .screenFgContainer > .foreground > .elMenu {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 104px;
    width: 100.0%;
    height: 220px;
  }
  .StartScreen > .screenFgContainer > .foreground > .elMenu > .background > .containerMinHeight {
    min-height: 159px;
  }

@media (min-width: 568px) {
  .StartScreen > .screenFgContainer > .foreground > .elMenu {
    left: 0px;
    right: 0px;
    top: 104px;
    width: 100.0%;
    height: 220px;
  }
  .StartScreen > .screenFgContainer > .foreground > .elMenu > .background > .containerMinHeight {
    min-height: 159px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .screenFgContainer > .foreground > .elMenu {
    left: 0px;
    right: 0px;
    top: 104px;
    width: 100.0%;
    height: 218px;
  }
  .StartScreen > .screenFgContainer > .foreground > .elMenu > .background > .containerMinHeight {
    min-height: 158px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .screenFgContainer > .foreground > .elMenu {
    left: 0px;
    right: 0px;
    top: 104px;
    width: 100.0%;
    height: 218px;
  }
  .StartScreen > .screenFgContainer > .foreground > .elMenu > .background > .containerMinHeight {
    min-height: 158px;
  }

}

.StartScreen .elTop {
  overflow: hidden;
}

.StartScreen .elTop.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .screenFgContainer > .foreground > .elTop {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100px;
  }
  .StartScreen > .screenFgContainer > .foreground > .elTop > .background > .containerMinHeight {
    min-height: 100px;
  }

@media (min-width: 568px) {
  .StartScreen > .screenFgContainer > .foreground > .elTop {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100px;
  }
  .StartScreen > .screenFgContainer > .foreground > .elTop > .background > .containerMinHeight {
    min-height: 100px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .screenFgContainer > .foreground > .elTop {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100px;
  }
  .StartScreen > .screenFgContainer > .foreground > .elTop > .background > .containerMinHeight {
    min-height: 100px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .screenFgContainer > .foreground > .elTop {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100px;
  }
  .StartScreen > .screenFgContainer > .foreground > .elTop > .background > .containerMinHeight {
    min-height: 100px;
  }

}

.StartScreen .elMenuUp {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.StartScreen .elMenuUp:focus {
  box-shadow: 0 0 5px rgba(254, 255, 255, 0.5000);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .screenFgContainer > .foreground > .elMenuUp {
    position: fixed;
    right: 19px;
    top: 27px;
    width: 56px;
    height: 50px;
  }
@media (min-width: 568px) {
  .StartScreen > .screenFgContainer > .foreground > .elMenuUp {
    right: 19px;
    top: 27px;
    width: 56px;
    height: 50px;
  }
}
@media (min-width: 768px) {
  .StartScreen > .screenFgContainer > .foreground > .elMenuUp {
    right: 19px;
    top: 27px;
    width: 55px;
    height: 49px;
  }
}
@media (min-width: 1024px) {
  .StartScreen > .screenFgContainer > .foreground > .elMenuUp {
    right: 19px;
    top: 27px;
    width: 55px;
    height: 49px;
  }
}

.StartScreen .elMenuDown {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.StartScreen .elMenuDown:focus {
  box-shadow: 0 0 5px rgba(254, 255, 255, 0.5000);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .screenFgContainer > .foreground > .elMenuDown {
    position: fixed;
    right: 19px;
    top: 27px;
    width: 56px;
    height: 50px;
  }
@media (min-width: 568px) {
  .StartScreen > .screenFgContainer > .foreground > .elMenuDown {
    right: 19px;
    top: 27px;
    width: 56px;
    height: 50px;
  }
}
@media (min-width: 768px) {
  .StartScreen > .screenFgContainer > .foreground > .elMenuDown {
    right: 19px;
    top: 27px;
    width: 55px;
    height: 49px;
  }
}
@media (min-width: 1024px) {
  .StartScreen > .screenFgContainer > .foreground > .elMenuDown {
    right: 19px;
    top: 27px;
    width: 55px;
    height: 49px;
  }
}

